html {
    scroll-behavior: smooth;

}

body {
    overflow-x: hidden;
}



.navbar{
    width: 100%;
}

.news-card .card-body {
    padding: 5px 10px 10px;
}

.news-card .card-body p {
    font-size: 11px;
}

.news-card .card-body h5  {
    font-size: 15px;
}

.elipsis-2-lines{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.content-div > p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.icon-size{
    height: 30px;
    width: 30px;
}
a h5{
    color: black;
    font-weight: bold;
}
.active-page{
    border: 1px solid black !important;
    border-radius: 5px !important;
}
.img-carousel {
    width: 100%;
    height: 24vw;
    object-fit: cover;
}
a:hover{
    color: black !important;
}
.tox-tinymce{
    min-height: 400px !important;
}

#card-body>p{
    color: grey!important;
    text-decoration: unset!important;
}

body{
    font-family: 'Manrope', sans-serif !important;
}
.grayColor{
    color: grey;
}

.radius{
    border-radius: 33px;
}
.margin-header{
    margin-top: 66px;
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}
.card-img-top2 {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}
footer a{
    color: white;
    text-decoration: none !important;
}
.bg-colorRed{
    background-color: #ab0000;
}

.navbar-nav a{
    color: red !important;
    font-size: 19px;
    font-weight: bold!important;
}

.navbar-nav a.active{
    background-color: red !important;
    border-radius: 30px !important;
    color: white !important;
    font-size: 22px;
    font-weight: bold!important;
}

#content-news img{
    max-width: 90%;
}

card a{
    color: red;
}

@media (max-width: 992px) {
    .navbar-nav a{
        color: red !important;
        font-size: 18px;
        font-weight: bold!important;
    }
    .navbar-nav a.active{
        background-color: white !important;
        border-radius: 0px !important;
        color: red !important;
        font-size: 19px;
        font-weight: bold!important;
    }

    .img-carousel {
        width: 100%;
        height: 54vw;
        object-fit: cover;
    }
    main{
        overflow-x: hidden;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
    .card-img-top2 {
        width: 100%;
        height: 25vw;
        object-fit: cover;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .card-img-top {
        width: 100%;
        height: 20vw;
        object-fit: cover;
    }
    .card-img-top2 {
        width: 100%;
        height: 30vw;
        object-fit: cover;
    }
}
@media screen and (max-width: 576px) {
    .card-img-top {
        width: 100%;
        height: 30vw;
        object-fit: cover;
    }
    .card-img-top2 {
        width: 100%;
        height: 40vw;
        object-fit: cover;
    }

}




a .news-card:hover {
    -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.5);

}

.news-topic a{
    color: white;
    text-decoration: none !important;
}


